user {{ user_mqtt_publish }}
topic $SYS/broker/clients/connected
topic $SYS/broker/clients/disconnected
topic $SYS/broker/version
topic $SYS/broker/timestamp
topic $SYS/broker/bytes/received
topic $SYS/broker/bytes/sent
topic $SYS/broker/messages/received
topic $SYS/broker/messages/sent
topic $SYS/broker/publish/bytes/received
topic $SYS/broker/publish/bytes/sent
topic $SYS/broker/publish/messages/received
topic $SYS/broker/publish/messages/sent
topic $SYS/broker/publish/messages/dropped
topic $SYS/broker/clients/maximum
topic $SYS/broker/clients/total
